<ul>
  <% @team.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @team do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :flag_url %>
    <%= f.text_field :flag_url %>
  </div>
  <div>
    <%= f.label :goals_scored %>
    <%= f.text_field :goals_scored %>
  </div>
  <div>
    <%= f.label :formation %>
    <%= f. text_field :formation %>
  </div>
  <%= f.submit 'Edit Team Profile' %>
<% end %>
