<h2>Player Search Results</h2>

<hr>
<div class="bold">
  <% @fifa_players.each do |player| %>
    Club ID: <%= player["club_id"] %>
    <br>
    First Name: <%= player["first_name"] || "N/A" %>
    <br>
    Last Name: <%= player["last_name"] || "N/A" %>
    <br>
    Common Name: <%= player["common_name"] || "N/A" %>
    <br>
    Position: <%= player["type"] %>
    <br>
    Rating: <%= player["rating"] %>
    <%= form_tag('/add_new_player', method: :post) do |f| %>
      <%= hidden_field_tag :name, player["first_name"] || player["common_name"] || "N/A" %>
      <%= hidden_field_tag :photo_url, "http://www.placekitten.com/300/300" %>
      <%= hidden_field_tag :position, player["type"] %>
      <%= hidden_field_tag :goals_scored, player["attribute1"].to_i %>
      <%= hidden_field_tag :country, player["dob"] %>
      <%= hidden_field_tag :rating, player["rating"] %>
      <%= submit_tag("Add #{player["first_name"]} to the Team") %>
    <% end %>
    <hr>
  <% end %>
</div>
