<h2>Team <%= @team.name.capitalize %>'s Profile</h2>

<img src="<%= @team.flag_url %>">
<h3>Information:</h3>
<div class="bold">
  Team ID: <%= @team.id %><br>
  Goals Scored: <%= @team.goals_scored %><br>
  Formation: <%= @team.formation %><br>
  Players on Team:
  <% @team.players.each do |player| %>
    <%= link_to "#{player.name.capitalize}", player_path %>
  <% end %>
</div>
<br>
<br>
<%= render 'playersearch' %>
<br>
<br>
<%= link_to 'Edit Team Information', edit_team_path(@team) %>
<br>
<br>

<%= link_to 'Back to Teams', teams_path %>
