<h2><%= @user.username.capitalize %>'s Profile</h2>

<div class="bold">
  First Name: <%= @user.first_name.capitalize %><br>
  Last Name: <%= @user.last_name.capitalize %><br>
  Email: <%= @user.email %><br>
  Teams:
  <ul>
    <% @user.teams.each do |team| %>
      <%= link_to "#{team.name.capitalize}", team_path %>
    <% end %>
  </ul>
</div>
<%= link_to "Add Team", new_team_path %>
<br>
<br>
<%= link_to "Back to Users", users_path %> |
<%= link_to "Edit Profile", edit_user_path %>
