<h2><%= @user.username.capitalize %>'s Profile</h2>

<p><strong>First Name: </strong><%= @user.first_name.capitalize %></p>
<p><strong>Last Name: </strong><%= @user.last_name.capitalize %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Teams:</strong></p>
<ul>
  <% @user.teams.each do |team| %>
    <%= link_to "#{team.name.capitalize}", team_path %>
  <% end %>
</ul>
<%= link_to "Add Team", new_team_path(@user.id) %>
<br>
<br>
<%= link_to "Back to Users", users_path %> |
<%= link_to "Edit Profile", edit_user_path %>
