<h2>Players Index</h2>

<!-- <%= link_to 'Create Player', new_player_path %> -->
<div class="bold">
  <% @players.each do |player| %>
    <hr>
    <img src="<%= player.photo_url %>">
    <br>
    Name: <%= link_to "#{player.name.capitalize}", player_path(player.id) %></a>
    <br>
    Position: <%= player.position %>
    <br>
    Goals Scored: <%= player.goals_scored %>
    <br>
    Country: <%= player.country %>
    <br>
    Rating: <%= player.rating %>
  <% end %>
</div>
