<h2>Add Player</h2>

<ul>
  <% @player.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>
  <br>

  <%= f.label :position %>
  <%= f.text_field :position %>
  <br>

  <%= f.label :goals_scored %>
  <%= f.text_field :goals_scored %>
  <br>

  <%= f.label :country %>
  <%= f.text_field :country %>
  <br>

  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br>

  <%= f.submit 'Add Player' %>
<% end %>
<br>

<%= link_to 'Back to Players', players_path %>
